.chatBox {
  width: 100%;
  height: 55vh;
  margin-top: 1rem;
  background-color: #eeeeee;
  font-size: 1.1rem;
  padding: 0.5rem;
  overflow-y: scroll;
}

.chatMenu {
  height: 20vh;
  max-height: 20vh;
  overflow-y: scroll;
}

.chatComponent {
  padding-top: 0.5rem;
}

footer {
  float: right;
  padding-right: 1rem;
  font-size: 0.9rem;
  color: #888888;
}

#app {
  padding-top: 1rem;
}

.userSelf {
  color: #467ccc !important;
}

.userAway {
  color: #c0bdba !important;
}
