::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  height: 128px !important;
  margin-right: 20px;
}

.chatBox {
  width: 100%;
  height: 55vh;
  margin-top: 1rem;
  background-color: #eeeeee;
  font-size: 1.1rem;
  padding: 0.5rem;
  overflow-y: scroll;
}

.chatMenu {
  height: 20vh;
  max-height: 20vh;
  overflow-y: scroll;
}

.chatComponent {
  padding-top: 0.5rem;
}

footer {
  float: right;
  padding-right: 1rem;
  font-size: 0.9rem;
  color: #888888;
}

#app {
  padding-top: 1rem;
}

.userSelf {
  color: #467ccc !important;
}

.userAway {
  color: #c0bdba !important;
}

.chatMsgRow {
  width: 100%;
  display: flex;
}

.chatMsg {
  max-width: 70%;
}

.chatMsgTitle {
  font-size: 0.9rem;
  font-weight: bold;
  color: hsl(204, 86%, 53%);
}

.chatMsgBody {
  font-size: 1.1rem;
}

.chatRight {
  justify-content: flex-end;
}

.loaderOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 15px;
  position: relative;
  text-indent: -9999em;

  border-top: 1.1em solid rgba(39, 147, 218, 0.2);
  border-right: 1.1em solid rgba(39, 147, 218, 0.2);
  border-bottom: 1.1em solid rgba(39, 147, 218, 0.2);
  border-left: 1.1em solid #2793da;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Hacky but I had to fight against Bulma CSS */
.deleteButton {
  background-color: #d35252 !important;
  color: white !important;
  border: none !important;
  padding: 0.1rem 0.1rem !important;
  margin: 0 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  max-width: 2rem !important;
  float: right !important;
  font-size: 0.9rem !important;
  text-align: center !important;
}

[v-cloak] {
  display: none;
}

.errorMessage {
  color: #332020 !important;
  font-size: 1.1rem !important;
  margin-top: 0.5rem !important;
  font-family: monospace !important;
  white-space: pre-wrap !important;
}

.debug {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid blue;
}

dialog {
  background: none;
  border: none;
  padding: 40px;
}

dialog .card {
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.3);
  border: 2px solid #3b4fe5;
}
